ul {
  list-style: none;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

li {
  font-size: 20px;
}

.owner-card {
  // border: 1px solid gray;
  border-radius: 3px;
  padding: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 35px;
}

img {
  border-radius: 50%;
}

.center-avatar{
  text-align: center;
}

span {
  font-weight: bold;
}
