h3 {
  font-size: 1.4rem;
}

.form {
  flex-direction: column;
  // margin: 0 20px;
}

.form-text {
  // margin-left: 15px;
}

.btn-flat {
  width: 250px;
  margin: 0 auto;
}

.form-control {
  width: 100%;
  margin: 0px;
}

form {
  flex-direction: column;
}

