// Specific CSS for your home-page
// .view-container {
//   height: 88%;
// }

.main-container {
  margin-bottom: 0px;
}

p {
  margin-bottom: 0px;
}


#toni {
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  animation: jump 3s infinite;
      img {
      content: ‘\f0a8’;
      font-family: ‘FontAwesome’;
      font-size: 70px;
      transition: .3s ease-in-out;
  }
    img:hover {
      opacity: 0.7;
      transition: .3s ease-in-out;
  }
}

@keyframes jump {
  0% { top: 0; } 50% { top: 10px; } 100% { top: 0; }
}

.about-cards {


}

.button-container {
  height: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.single-button {
  padding-top: 50px;
  height: 100px;
}

.about-card {
  height: 33vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: $gray;
  margin-top: 10px;
}

.about-text {
  margin-left: 30px;
  margin-right: 30px;
}

.about-text p {
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  color: $medium-gray;
}

.about-text .h3-styling {
  color: $gray;
  font-size: 25px;
  font-weight: bolder;
}

.about-image-calendar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: asset-url('calendar1');
  background-position: center;
  background-size: cover;
  margin: 10px;
}

.about-image-map {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: asset-url('map4');
  background-position: bottom;
  background-size: cover;
  margin: 10px;
}

.about-image-guy {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: asset-url('guy');
  background-position: center;
  background-size: cover;
  margin: 10px;
}






