.days_list {
  display: flex;
  justify-content: space-evenly;
  color: $my-blue;
  a {
    color: $gray;
    text-decoration: none;
  }
}

.dogs_list {
  color: $gray;
  margin-right: 20px;
}

.fa-times {
  color: $light-gray;
  font-size: 20px;
}
// .name_and_icon{
//  display: flex;
//  justify-content: space-between;
// }

.icon-container {
  margin-right: 30px;
  margin-left: auto;
}
