<div class="navbar">
  <div class="button"><i class="fas fa-calendar-alt"></i><br><%= link_to "Schedule", walks_schedule_path(Date.today)%></div>
  <div class="button"><i class="fas fa-map-marker-alt"></i><br><%= link_to "Route", map_path %></div>
  <div class="button"><i class="fas fa-paw"></i><br><%= link_to "MyDogx", dogs_path %></div>
  <div class="button"><i class="fas fa-user"></i><br><%= link_to "Profile", edit_user_registration_path %></div>
</div>
