<div class="navbar">
  <div class="button"><%= link_to "Schedule", dogs_path%></div>
  <div class="button"><%= link_to "Route", map_path %></div>
  <div class="button"><%= link_to "MyDogx", dogs_path %></div>
  <div class="button"><%= link_to "Profile", edit_user_registration_path %></div>
</div>
