<div class="main-container">
  <!-- banner section -->
  <div class="banner">
    <div class="banner-content">
      <h1>DOGX</h1>
      <p>The tool made for dogwalkers</p>
      <% if current_user.nil? %>
        <div class="start btn-flat-white">
          <%= link_to "SIGN UP", new_user_registration_path %>
        </div>
        <br>
        <div class="start-login btn-empty">
          <%= link_to "LOG IN", new_user_session_path %>
        </div>
      <% end %>
      <% if current_user.present? %>
        <div class="start btn-flat-white">
          <%= link_to "GET STARTED", dogs_path %>
        </div>
      <% end %>
      <div class="toni">
        <%= image_tag 'down-arrow', alt: 'down-arrow', width: '40px' %>
      </div>
    </div>
  </div>
  <!-- cards to describe the about section -->




<div id=“about”>
  <div class="about-cards">
    <div class="about-card">
      <div class="about-image-calendar">
        </div>
        <div class="about-text">
          <h3>Planning</h3>
          <p>Digitalize your calendar and never forget any dog</p>
        </div>
      </div>

      <div class="about-card">
        <div class="about-image-map">
        </div>
        <div class="about-text">
          <h3>Routing</h3>
          <p>Create the best routes and optimize your work</p>
        </div>
      </div>

      <div class="about-card">
        <div class="about-image-guy">
        </div>
        <div class="about-text">
          <h3>Gain time</h3>
          <p>Spend your time actually walking dogs and relaxing</p>
        </div>
      </div>
    </div>
  </div>
</div>


