<div class="banner">
  <div class="banner-content">
    <h1>DOGX</h1>
    <p>The tool made for dogwalkers</p>
    <% if current_user.nil? %>
    <div class="start btn-flat-white">
      <%= link_to "SIGN UP", new_user_registration_path %>
    </div>
    <br>
     <div class="start-login btn-empty">
      <%= link_to "LOG IN", new_user_session_path %>
    </div>
     <% end %>
     <% if current_user.present? %>
    <div class="start btn-flat-white">
      <%= link_to "GET STARTED", dogs_path %>
    </div>
    <% end %>
  </div>
</div>
