<div class="banner">
  <div class="banner-content">
    <h1>THIS IS DOGX</h1>
    <p>The first planning tool for dogwalkers</p>
    <div class="start btn-flat-white">
      <%= link_to "SIGN UP", new_user_registration_path %>
    </div>
  </div>
</div>

