
<p> Schedule</p>


<%= link_to (Date.today).strftime("%A"), walks_schedule_path(Date.today) %>

<%= link_to (Date.today+1).strftime("%A"), walks_schedule_path(Date.today+1) %>

<% @walk.slots.each do |st|  %>
  <p> <%= st.dog.name %></p>
<% end %>

<br>
<br>
<p>  Here i search dog which has schedule on thursday from "Schedule table"</p>


