.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: $my-blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: image-url("background_dog.png");

}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 5.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 180px;

}

.banner-content {
  margin-bottom: 20px;
}

.banner p {
  font-size: 1.3rem;
  font-weight: normal;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  text-align: center;
  margin-bottom: 170px;
}

.start {
  text-align: center;
  margin: auto;
  font-weight: bold;
}

.start a {
  color: $gray;
}

.sign-up {
  text-align: center;
  margin: auto;
  color: $gray;
  font-weight: bold;
}

.sign-up a {
  color: $gray;
}

.start-login {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}

.start-login a {
  color: $light-gray;
}

// .sign-out {
//   text-align: right;
//   font-weight: bold;
// }

// .sign-out a {
//   color: $gray;
// }

.container {
  min-height: calc(100vh - 80px);
  // margin-bottom: 80px;
}
