.btn-flat-white {
  color: grey;
  padding: 8px 24px;
  border-radius: 50px;
  background: white;
  transition: background 0.3s ease;
  width: 250px;
  // height: 45px;
}

.index-button {
margin-bottom: 90px;
}

// .btn-flat:hover {
//   background: #5cbce6;
//   color: white;
// }
