.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #70D0F9;
  transition: background 0.3s ease;
  width: 350px;
  // height: 45px;
}

.btn-flat:hover {
  background: #5cbce6;
  color: white;
}
