.card-product {
  overflow: hidden;
  height: 78px;
  background: white;
  // box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 5px;
}

.card-product img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  padding: 20px;
}

.card-product a {
  color: white;
}

.card-product h2 {
  font-size: 20px;
  // font-weight: bold;
  margin: 0;
  color: gray;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  text-align: center;
  text-indent: center;
}

.dots-container {
  margin-right: 30px;
  margin-left: auto;
}

.fa-ellipsis-h {
  color: $light-gray;
  font-size: 20px;
}

.view-container {
  display: flex;
  flex-direction: column;
}

.Index-header {
  color: white;
  text-align: center;
  background-color: #169FDA;
  padding: 10px;
  padding-top: 20px;
}

.dog-link {
  text-decoration: none;
}
