.header {
  width: 100%;
  height: 64px;
  background-color: #169FDA;
  margin: 0;
  text-align: left;
  // margin-bottom: 10px;
  display: inline-block;

  // h1 {
  //   padding: 23px 0;
  //   font-weight: bolder;
  //   font-size: 18px;
  //   margin-left: 23px;
  //   color: white;
  //   display: inline-block;
  // }


  h2 {
    margin-bottom: 2px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
      // display: inline-block;
      // margin-left:115px;
      // padding: 14px 0;
  }
}
