.header {
  width: 100%;
  height: 64px;
  background-color: #169FDA;
  margin: 0;
  text-align: left;
  margin-bottom: 10px;
  display: inline-block;

  h1 {
    padding: 23px 0;
    font-weight: bolder;
    font-size: 18px;
    margin-left: 23px;
    color: white;
    display: inline-block;
  }


  h2 {
      padding: 14px 0;
      font-size: 20px;
      color: white;
      margin-left:83px;
      font-weight: lighter;
      display: inline-block;
  }
}
