.map {
width: 100%;
margin-bottom: 50px;
}

// getting rid of the HERE MAP LOGO and Copyrightstuff
.H_copyright{
  display: none;
}

.H_logo{
  display: none !important;
}

.map-div {
    background-color: white;
    margin-bottom: 80px;
}
