.map {
width: 100%;
margin-bottom: 50px;
}

// getting rid of the HERE MAP LOGO and Copyrightstuff
.H_copyright{
  display: none;
}

.H_logo{
  display: none !important;
}

.map-div {
    background-color: white;
    margin-bottom: 80px;
}


#accordionExample {
  visibility: hidden;
}

.show-card {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}


.map-info-icon {
  position: absolute;
  top: 3%;
  right: 8%;
  z-index: 1;
  font-size: 32px;
  color: $my-blue;
}

.card-header h5 {
  color: $gray;
  text-align: center;
}

.card {
  background-color: white;
  text-decoration: none !important;
}
