.navbar {
  height: 80px;
  padding: 0px;
  background-color: white;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  border: 2px solid #169FDA;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.button {
  height: 80px;
  width: 25%;
  padding-top: 16px;
  a, i{
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  }
}

// .button a {
//   color: black;
// }

.button:hover {
  background-color: #169FDA;
  a, i {
    color: white;
  }
}
