.navbar {
  height: 80px;
  padding: 0px;
  background-color: white;
  display: flex;
  // position: ;
  bottom: 0;
  left: 0;
  width: 100%;
}

.button {
  width: 25%;
  height: 80px;
  text-align: center;
}
