<div class="mapDiv">
  <i class="fas fa-info map-info-icon info-icon" id="toggle-map"></i>
  <div
    style="width: 100vw; height: 100vh"

    id="map"
    data-coordinates="<%= @dog_coordinates.to_json %>"
    data-user-address="<%= @user_coordinates.to_json %>"
    data-destination="<%= @destination.to_json %>"
    data-dog-information="<%= @dog_info.to_json %>"
    >
  </div>
</div>
<div class="accordion" id="accordionExample"></div>
