<div class="mapDiv">
  <div id="toggle-map">
    <i class="fas fa-info map-info-icon info-icon"></i>
  </div>

  <div
    style="width: 100vw; height: 100vh"

    id="map"
    data-coordinates="<%= @dog_coordinates.to_json %>"
    data-user-address="<%= @user_coordinates.to_json %>"
    data-destination="<%= @destination.to_json %>"
    data-dog-information="<%= @dog_info.to_json %>"
    >
  </div>
</div>
<div class="accordion" id="accordionExample">
  <div class="header text-center pt-4">
    <h2>Driving Directions</h2>
  </div>
</div>
