<div class="mapDiv">
  <div
    style="width: 100vw; height: 50vh"
    id="map"
    data-coordinates="<%= @dog_coordinates.to_json %>"
    data-user-address="<%= @user_coordinates.to_json %>"
    data-destination="<%= @destination.to_json %>"
  >
  </div>
    <div class="accordion" id="accordionExample">
  </div>
</div>

